/* GENERAL */
.bordered {
    border: 1px dashed red;
}

.wrapper {
    height: 90vh;
    width: 80vw;
    margin: 30px auto;
}


.pfp {
    height: 40px;
    border-radius: 50%;
}


/* CHAT AREA----------------------------------- */
.pfp-area {
    height: 50px;
}

.chat-area {
    background-image: url(../img/mine.jpg);
    object-fit: contain;
    height: calc(100% - 100px);
}

/* MESSAGE */
.message {
    padding: 10px 10px;
    word-wrap: break-word;
    border-radius: 15px;
}

/* CHAT SENT RECEIVED */
.received {
    align-self:flex-start;
    background-color: white;
}

.sent {
    align-self: flex-end;
    background-color: lightgreen;
}


.type-area {
    height: 50px;
}
